#bg-autumn{
    background-image: url(./img/joshua-fuller-SFRVfLZ7ORo-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

#bg-mountain{
    background-image: url(./img/norris-niman-ePB2oGU8mb4-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

